body{
    margin: 20px;
    padding: 0px;
    font-size: 14px;
    color: var(--tg-theme-text-color);
    background: black;

}

.container {

    max-width: 353px;
}




.btn {
    
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 353px;
    height: 51px;
    color: white;
    background: #1676E7;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    transition: background .15s linear;
}

.usercard {
    text-align: left;
}

.btn:hover {

    background-color: #0B3B73;
    color: hsl(0, 0%, 50%);    
}

