body {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #f2f2f2;
    
}

.nav {

    display: flex;
    justify-content: space-between;

}


#items {

    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}